
.animal {
  display: flex;
  flex-direction: column;
  background-color: gray;
  border-radius: 5px;
  padding: 1em;

  align-items: center;
}

.animal-image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.animal-name {
  margin: 0;
  margin-top: .5rem;
}